body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: #f4f4f4;
}

.navbar {
  height: 63px;
  background: #3b5998;
  overflow: hidden;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding-top: 10px;
}

.navbar a {
  text-decoration: none;
  float: left;
  padding: 15px;
  color: #f2f2f2;
}

.navbar a:hover {
  background-color: #f2f2f2;
  color: #000;
}

.slide-menu {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 50px;
  background-color: #000;
  opacity: 0.9;
  transition: 0.5s;
  overflow: hidden;
}

.slide-menu a {
  color: #888;
  display: block;
  padding: 10px 10px 10px 30px;
  text-decoration: none;
}

.slide-menu a:hover {
  color: #fff;
}

.slide-menu .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  font-size: 30px;
}

.main {
  transition: margin-left 0.5s;
  width: 100%;
  overflow: hidden;
  padding: 10px;
}

@media (max-width: 400px) {
  .navbar .navbar-nav {
    display: none;
  }
}
